<?xml version="1.0"?>

<model>
  <name>Wheelie Robot Stable</name>
  <version>1.0</version>
  <sdf version='1.4'>wheelie_robot_stable.sdf</sdf>

  <author>
    <name>William Hunt</name>
    <email>will.hunt.mail@my.email</email>
  </author>

  <description>
    Robot for use in Project 1 of Udacity Robotice Software Engineer Nanodegree.
  </description>
</model>
